/* start footer */

.apple-store-1 {
    align-self: flex-end;
    height: 93px;
    margin-left: 10px;
    object-fit: cover;
    width: 242px;
  }
  .blog {
    letter-spacing: 0.00px;
    margin-left: 6px;
    margin-top: 27px;
    min-height: 42px;
  }
  .brand-logo {
    align-items: flex-end;
    background-color: var(--torch-red);
    border-radius: 20px;
    display: flex;
    height: 99px;
    justify-content: flex-end;
    min-width: 137px;
    padding: 21px 36px;
  }
  .download {
    letter-spacing: 0.00px;
    margin-left: 17px;
    min-height: 42px;
  }
  .face-1 {
    align-self: flex-end;
    height: 72px;
    object-fit: cover;
    width: 65px;
  }
  .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 198px;
    width: 502px;
  }
  .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.0px;
    margin-left: 102px;
    min-height: 290px;
    width: 502px;
  }
  .flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 308px;
    width: 642px;
  }
  .flex-col-3 {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 0.0px;
    margin-top: 28px;
    min-height: 94px;
    width: 1632px;
  }
  .flex-col-4 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 175px;
    min-height: 308px;
    width: 217px;
  }
  .flex-row {
    align-items: center;
    display: flex;
    margin-left: 27px;
    margin-top: 17px;
    min-width: 283px;
  }
  .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 317px;
    min-width: 1034px;
  }
  .flex-row-2 {
    align-items: center;
    display: flex;
    min-width: 1638px;
  }
  .flex-row-3 {
    align-items: flex-start;
    display: flex;
    height: 96px;
    margin-top: 5px;
    min-width: 502px;
  }
  .footer {
    align-items: flex-start;
    display: flex;
    height: 549px;
    min-width: 1979px;
    padding: 0 3px;
  }
  .footer-brand {
    align-items: center;
    display: flex;
    min-width: 394px;
  }
  .google-play-1 {
    height: 90px;
    object-fit: cover;
    width: 250px;
  }
  .instagram-1 {
    height: 75px;
    margin-left: 25px;
    object-fit: cover;
    width: 85px;
  }
  .karir {
    letter-spacing: 0.00px;
    margin-left: 12px;
    margin-top: 23px;
    min-height: 42px;
  }
  .layanan {
    letter-spacing: 0.00px;
    margin-left: 6px;
    margin-top: 30px;
    min-height: 42px;
  }
  .line-1 {
    height: 6px;
    width: 1632px;
  }
  .overlap-group {
    align-items: flex-end;
    background: #000;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    min-height: 549px;
    padding: 47px 155px;
    width: 1955px;
  }
  .pinterest-1 {
    height: 67px;
    margin-bottom: 2.0px;
    margin-left: 29px;
    object-fit: cover;
    width: 79px;
  }
  .polygon-1 {
    height: 56px;
    width: 47px;
  }
  .pusat-media {
    align-self: center;
    letter-spacing: 0.00px;
    margin-left: 6.0px;
    margin-top: 18px;
    min-height: 42px;
    min-width: 199px;
  }
  .social-media {
    letter-spacing: 0.00px;
    margin-left: 17px;
    margin-top: 13px;
    min-height: 42px;
  }
  .tentang-kami {
    letter-spacing: 0.00px;
    min-height: 42px;
  }
  .text-1 {
    align-self: flex-end;
    letter-spacing: 0.00px;
    margin-top: 30px;
    min-height: 179px;
    width: 633px;
  }
  .text-2 {
    letter-spacing: 0.00px;
    margin-left: 152.0px;
    margin-top: 43px;
    min-height: 45px;
    width: 993px;
  }
  .title {
    letter-spacing: 0.00px;
    margin-left: 15px;
    margin-top: 4.0px;
    min-height: 75px;
    min-width: 242px;
  }
  .roboto-light-white-30px {
    color: var(--white);
    font-family: var(--font-family-roboto-light);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 300;
  }
  .roboto-light-white-36px {
    color: var(--white);
    font-family: var(--font-family-roboto-light);
    font-size: var(--font-size-36px);
    font-style: normal;
    font-weight: 300;
  }
  .roboto-medium-white-36px {
    color: var(--white);
    font-family: var(--font-family-roboto-medium);
    font-size: var(--font-size-36px);
    font-style: normal;
    font-weight: 500;
  }
  .roboto-medium-white-64px {
    color: var(--white);
    font-family: var(--font-family-roboto-medium);
    font-size: var(--font-size-64px);
    font-style: normal;
    font-weight: 500;
  }
  .roboto-regular-normal-white-36px {
    color: var(--white);
    font-family: var(--font-family-roboto-regular);
    font-size: var(--font-size-36px);
    font-style: normal;
    font-weight: 400;
  }
  :root {
    --font-family-roboto-light: "Roboto-Light", Helvetica;
    --font-family-roboto-medium: "Roboto-Medium", Helvetica;
    --font-family-roboto-regular: "Roboto-Regular", Helvetica;
    --font-size-36px: 36px;
    --font-size-64px: 64px;
    --font-size-m: 30px;
    --torch-red: rgba(254, 2, 78, 1);
    --white: rgba(255, 255, 255, 1);
  }

/* end footer */